/* CSS RESET */
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--global-font);
    color: var(--font-clr-white);
    list-style: none;
}

img {
    max-width: 100%;
    display: blocK;
}

/* GLOBAL VARIABLES */
:root {
    --border-outline: 1px solid black;

    --headline-font: "Roboto", sans-serif;
    --global-font: "Fira Sans", sans-serif;
    --font-clr-white: white;
    --font-clr-black: black;

    --working-bg-color: #797373bd;
    
    --header-bg-color: #3DE07E;
    --body-bg-color: #000;
    --table-bg-clr: #ED363633;

    --footer-bg-color: rgba(255,255,255, 0.2);
    --card-big-bg-clr: #FFFFFF;

    --btn-bg-color: #E83F57;

    --card-width: 30%;
    --card-big-width: 48%;
    --card-big-checkout: 45%;
}

/* ORGANIZED GRID DECLARATION */
body,
header,
main,
footer,
.card,
.big-card,
.checkout-card {
    display: grid;
}

/* GRID TEMPLATE ROWS, MAKING HEADER AND FOOTER AS BIG AS ITS CONTENT WHILE MAIN TAKES THE REST OF THE SPACE ON THE SCREEN */
body {
    background-color: var(--body-bg-color);

    grid-template-rows: auto 1fr auto;
}

/* GLOBAL HEADER STYLING */
header {
    background-color: var(--header-bg-color);

    justify-content: center;
    text-align: center;
    justify-items: center;
    position: relative;


    .nav-icon { 
        position: absolute;
        top: 0;
        left: 0;
        margin: 1rem;
    }

    h1 {
        margin: 1rem;
        font-family: var(--headline-font);
        color: var(--font-clr-black);
        font-size: 4rem;
    }

    .header-ninjahead {
        max-width: 75%;
    }
}


/* GLOBAL MAIN WITH LOCAL STYLING */
main {
    /* GLOBAL STYLING */
    /* Creating columns, auto-fitting from a range width to fit the screen width */
    /* grid-template-columns: repeat(auto-fit, minmax(20ch , 1fr)); */
    grid-template-columns: repeat(6, 1fr);
    gap: 1.5rem;
    margin: 2rem;

    /* HOME PAGE STYLING */
    .card {
        grid-column: span 2;
        gap: 1rem;

        button {
            background-color: var(--btn-bg-color);
            padding: 0.5rem;
            border-radius: 4px;
        }
    }

    .card-big {
        grid-column: span 3;
        background-color: var(--card-big-bg-clr);
        gap: 1rem;

        .card-big-inner {
            display: grid;
            padding: 0.5rem;
            gap: 1.5rem;
        }

        h2,
        p {
            color: var(--font-clr-black)
        }

        h2 {
            font-size: 2rem;
        }
    }

    /* CHECKOUT PAGE STYLING */
    .checkout-headline {
        grid-column: span 6;
        font-size: 2.5rem;
        margin: 1rem;
    }

    .card-checkout {
        grid-column: span 3;
        background-color: var(--card-big-bg-clr);
        gap: 1rem;

        .card-checkout-inner {
            display: grid;
            gap: 1rem;
            padding: 0.5rem;
        }

        h3 {
            font-size: 2rem;
            color: var(--font-clr-black);
        }

        button {
            background-color: var(--btn-bg-color);
            padding: 0.5rem;
            border-radius:  4px;
        }
    }
    
    .checkout-table {
        grid-column: span 6;
        font-size: 1.5rem;
        line-height: 2rem;

        th {
            background-color: var(--table-bg-clr);
        }
        .price {
            text-align: end;
        }
        .checkout-bold {
            font-weight: bold;
            td {
                border-top: 2px solid white;
            }
        }
    }

    .checkout-button {
        grid-column: 5 / span 2;
        padding: 0.5rem;
        border-radius: 4px;
        background-color: var(--btn-bg-color);
    }
}

/* GLOBAL FOOTER */
footer {
    grid-template-columns: repeat(3, 1fr);
    background-color: var(--footer-bg-color);
    padding: 1rem;

    .page-navigation {
        ul {
            display: grid;
            gap: 0.5rem;
        }
        ul > li > a {
            text-decoration: none;
        }
    }

    .address {
        display: grid;
        gap: 0.5rem
    }

    .social_media-navigation > ul {
        display: grid;
        grid-template-columns: repeat(8, 1fr);

        h2 {
            grid-column: span 8;
        }

    }
}